@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');
/**to do:**/
/**
/****** Variable ***********/
$back-color: #F7F7F7;
$main-color:#9356DC;
$secondary-color: #FF79DA ;
$third-color: #99E2D0;
$title-weight: 700;
$description-weight: 300;
$desktop-media:1024px;
$tablet-media:765px;

/****** mixin ***********/
@mixin flex-center-column($align:center, $direction:column, $justify:center) {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@mixin btn{
    width: 218px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(170deg, $secondary-color, $main-color);
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    cursor: pointer;
    transition: all 400ms ease-out;
    &:hover{
        filter: brightness(1.20);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.40);
    }
}

@mixin welcome($number){
    animation: Welcome_card 0.5s ease-out $number forwards;
}

@mixin marg-mobile-carte{
    margin-left: 2%;
    margin-right: 2%;
}

/****** Keyframes ***********/
@keyframes check_heart {
    from {
        font-weight: bold;
        background-image: linear-gradient($main-color, $secondary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        clip-path: inset(100% 0 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
        font-weight: bold;
        background-image: linear-gradient($main-color, $secondary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
    }
}

@keyframes uncheck_heart {
    from {
        clip-path: inset(0 0 0 0);
        font-weight: bold;
        background-image: linear-gradient($main-color, $secondary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text
    }
    to {
        font-weight: bold;
        clip-path: inset(100% 0 0 0);
        background-image: linear-gradient($main-color, $secondary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
    }
}

@keyframes Welcome_card {
    0% {
      transform: translateX(-300px);
      opacity: 0;
    }
    90%{
        opacity: 0.5;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes loader_animation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
/****** Général ***********/

*{
    font-family: 'Roboto', sans-serif;
}
body {
    height: 100%;
    width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    background-color: $back-color;
    display: flex;
    flex-direction: column;
}
/****** Loader ***********/
.loading{
    background-color: $back-color;
    z-index: 12;
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    animation: loading 1.5s ease-out forwards;
}

.loader-box{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid white;
    width: 90%;
    padding: 2%;
    opacity: 0.9;
    background: linear-gradient(90deg, $secondary-color, $main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30);
    @media (min-width:$desktop-media){
        width: 50%;
    }
    .loader_title{
        font-size: 40px;
        font-family: "Shrikhand";
        font-weight: bold;
        vertical-align: top;
        margin: 0;
        margin-bottom: 5%;
        @media (min-width:$desktop-media){
            font-size: 50px;
        }
    }
    .chargement{
        font-size: 25px;
        @media (min-width:$desktop-media){
            font-size: 35px;
        }
    }
}
.img_box{
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
}
.img__loader{
    width: 50%;
    height: 50%;
    margin: auto;
    animation: loader_animation 1.5s ease-out infinite;
    &__sided{
        width: 50%;
        height: 50%;
        align-self: center;
    }
}
/****** Header ***********/
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header__logo{
        background-color: white;
        height: 63px;
        width: 100%;
        display: flex;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.30);
        img{
            width: 160px;
            height: 40px;
            margin: auto;
        }
        .back_logo{
            position: absolute;
            align-self: center;
            margin-left: 5%;
            @media (min-width:$desktop-media) {
                margin-left: 2%;                
            }
        }
        i{
            font-size: 20px;
        }
        a{
            all: unset;
            color:#353535;
            cursor: pointer;
        }
    }
    .header__localisation{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
        background-color: #EAEAEA;
    }

}

/****** Partie intro ***********/
.intro__text{
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

.main-title{
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 0px;
    @media (min-width:$tablet-media) {
        font-size: 40px;
    }
}

.description{
    color:#353535;

}

.intro__btn{
    all: unset;
    margin: auto;
    @include btn;
    margin-bottom: 60px;
    margin-top: 15px;
    display: flex;
    span{
        margin: auto;
    }
}


/****** Guide utilisateur ***********/
.guiduser{
    background-color: white;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    h2{
        font-size: 24px;
    }
    &__globalbox{
        @media (min-width:$desktop-media){
            width: 70%;
        }
        @media (min-width:$tablet-media) and ((max-width:$desktop-media)){
            width: 70%;
        }
    }
    @media (min-width:$desktop-media){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    @media (min-width:$tablet-media) and ((max-width:$desktop-media)){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__step{
        height: 75px;
        margin-left: 10px;
        margin-bottom: 25px;
        padding-left: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 20px;
        background-color: $back-color;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        position: relative;
        @media (min-width:$desktop-media){
            width: 30%;
        }
        &:hover{
            .fa-solid{
                color: $main-color;
            }
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        }
        .fa-solid{
            color: #7E7E7E;
        }

        .number{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            background-color: $main-color;
            color: white;
            border-radius: 50%;
            left: -10px;
            position: absolute;
            font-size: 14px;
        }
        i{
            margin-left: 5%;
            margin-right: 5%;
            font-size: 16px;
            @media(min-width: $tablet-media){
                margin-left: 3%;
                margin-right: 2%;
            }
        }
        h3{
            font-size: 16px;
            font-weight: 500;
        }
        
    }
    &__box{
        @media (min-width:$desktop-media){
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2%;
        }
    }
}
/****** Partie restaurant ***********/
.restaurants{
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width:$desktop-media){
        @include flex-center-column;
        
    }
    @media (min-width:$tablet-media) and ((max-width:$desktop-media)){
        @include flex-center-column;
    }
    &__globalbox{
        @media (min-width:$desktop-media){
            width: 70%;
            margin-bottom: 3%;
        }
        @media (min-width:$tablet-media) and ((max-width:$desktop-media)){
            width: 70%;
        }
        
    }
    

}
.restaurant__card{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 60px;
    @media (min-width:$desktop-media){
        height: 100%;
        display: grid;
        grid-template-columns: 46% 46%;
        column-gap: 8%;
        row-gap: 10%;
        justify-content: center;
    }
}
.card{
    border-radius: 15px;
    background-color: white;
    position: relative;
    height: 270px;
    
    img {
        width: 100%;
        object-fit: cover;
        height: 200px;
        border-radius: 15px 15px 0 0;
    }
    .new{
        background-color: $third-color;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 30px;
        position: absolute;
        font-size: 14px;
        top: 10px;
        right: 20px;
        color: #008766;
        border-radius: 2px;
    }
    &__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 20px;
        h3{
            margin: 0;
            padding: 0;
        }
        p{
            padding: 0;
            margin: 0;
        } 
    }
    a{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        top: 0;
        left: 0;
    }
    label{
        z-index: 1;
        cursor: pointer;
    }
}

.fa-heart{
    font-weight: normal;
    font-size: 25px;
}

#toggle_heart{
    &_palette{
        display: none;
        cursor: pointer;
        &:checked + .fa-heart{
            animation: check_heart 0.4s ease-out forwards;
        }
        &:not(:checked) + .fa-heart{
            animation: uncheck_heart 0.4s ease-out ;
        }
    }
    &_note{
        display: none;
        cursor: pointer;
        &:checked + .fa-heart{
            animation: check_heart 0.4s ease-out forwards;
        }
        &:not(:checked) + .fa-heart{
            animation: uncheck_heart 0.4s ease-out ;
        }
    }
    &_francaise{
        display: none;
        cursor: pointer;
        &:checked + .fa-heart{
            animation: check_heart 0.4s ease-out forwards;
        }
        &:not(:checked) + .fa-heart{
            animation: uncheck_heart 0.4s ease-out ;
        }
    }
    &_delice{
        display: none;
        cursor: pointer;
        &:checked + .fa-heart{
            animation: check_heart 0.4s ease-out forwards;
        }
        &:not(:checked) + .fa-heart{
            animation: uncheck_heart 0.4s ease-out ;
        }
    }
}

/****** footer ***********/
footer{
    $marg-foot-content: 8px;
    background-color: #353535;
    .foot__content{
        color: white;
        margin: 20px;
        &--icon {
            margin-top: $marg-foot-content;
        }
        &--icon p{
            display: inline;
            margin-left: 10px;
        }
        &--icon i{
            width: 12px ;
        }
        a{
            text-decoration: none;
            color: inherit;
        }
        @media (min-width:$desktop-media){
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            align-items: end;
            padding-top: 30px;
            margin: 30px;
            padding-right: 30px;
            &--box{
                display: flex;
                gap: 10px;
                width: 600px;
                margin-right: 30px;
            }
            h3 {
                margin: 0;
            }
            &--icon{
                width: 190px;
            }
        }
        
    }
    h3{
        font-family: 'Shrikhand';
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 12px;
    }
    p{
        margin: 0px;
        margin-top: $marg-foot-content;
    }
}

/****** page restaurant ***********/
.palette_carte{
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: white;
    img{
        max-width: 100%;
        max-height: 100%;
        z-index: 0;
        @media (min-width:$tablet-media){
            display: block;
            height: 400px;
            width: 100%;
            object-fit: cover;
        }
    }
}


.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 120%;
    width: 100%;
    gap: 40px;
    background-color: $back-color;
    z-index: 10;
    position: relative;
    padding-top: 7%;
    margin-top: -60px;
    bottom: 0px;
    border-radius: 30px 30px 0 0;
    @media (min-width:$tablet-media){
        width: 70%;
        margin: auto;
        margin-top: -40px;
        padding-top: 4%;
    }
    .restaurant_and_like{
        display: flex;
        width: 96%;
        align-items: center;
        gap: 10%;
        h1{
            margin: 0;
            font-size: 28px;
            font-weight: 400;
            font-style: italic;
            font-family: "Shrikhand";
        }
        @media (min-width:$tablet-media){
            justify-content: center;
            gap: 3%;
        }
        label{
            cursor: pointer;
        }

    }
}



.detail_menu{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 96%;
    animation: Welcome_card 0.5s ease-in;
    @media (min-width:$tablet-media){
        width: 55%;
    }
    p{
        margin: 0;
    }
    .menu_step{
        font-size: 16px;
        &::after{
            content: "";
            display: block;
            margin-top: 1%;
            width: 10%;
            border: 3px solid $third-color;
        }
    }
}
.menu__cards{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    &:nth-child(2){
        @include welcome(0.6s);
    }
    &:nth-child(3){
        @include welcome(0.7s);
    }
    &:nth-child(4){
        @include welcome(0.8s);
    }
    &:nth-child(5){
        @include welcome(0.9s);
    }
    .plat__card{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        &:hover > .select{
            flex-basis: 20%;
            @media (min-width:$tablet-media){
                flex-basis: 15%;
            }
            @media (min-width:$desktop-media){
                flex-basis: 10%;
            }
        }
    }
    
    .plate{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 2%;
        gap: 10%;
        flex: 1;
        overflow: hidden;
        h4{
            font-size: 18px;
            margin: 0;
            padding: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p {
            margin: 0;
            padding: 0;
            font-size: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .price{
        align-self: flex-end;
        display: flex;
        justify-content: center;
        height: 60%;
        margin-right: 2%;
        flex: 0;
        p{
            font-size: 15px;
            font-weight: $title-weight;
            margin: auto;
        }
    }
    
    .select{
        display: flex;
        width: 0%;
        background-color: #99E2D0;
        height: 100%;
        flex: 0;
        transition: flex-basis 100ms ease-out;
        i{
            margin: auto;
            font-size: 20px;
            color: white;
        }
    }
}
/****** bouton page restaurant ***********/
.order__btn{
    @include btn;
    margin-bottom: 40px;
}